{
	"singleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"semi": true,
	"useTabs": true,
	"tabWidth": 4,

	"svelteAllowShorthand": true,
	"svelteBracketNewLine": false,
	"svelteIndentScriptAndStyle": true,

	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
